@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,400&display=swap");
html, body, divasfasf, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.soppa {
  max-width: 1100px;
  margin: 0 auto;
}

body {
  padding-top: 96px;
}
body header {
  width: 100%;
  min-height: 95px;
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  z-index: 2;
}
body header .content {
  display: flex;
  justify-content: space-between;
  margin-top: 54px;
}
body header .content .logo {
  display: flex;
}
body header .content .logo img {
  width: 18px;
  margin-right: 14.47px;
}
body header .content .logo h2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  color: #000000;
}
body header .content .menu ul {
  display: flex;
}
body header .content .menu ul li {
  align-items: center;
  margin-right: 24px;
}
body header .content .menu ul li a {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.32px;
  color: #000000;
  text-decoration: none;
}
body header .content .call {
  display: flex;
  align-items: center;
}
body header .content .call a {
  display: block;
  width: 14.45px;
  height: 17px;
  background-image: url("../../image/telephone 1.svg");
  background-repeat: no-repeat;
  margin-right: 15.55px;
  line-height: 140%;
}
body header .content .call p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.32px;
  color: #000000;
}
body header .content .buy {
  display: block;
  width: 24px;
  height: 23.54px;
  background-image: url("../../image/buy.svg");
  background-repeat: no-repeat;
}
body .banner .left h1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 110%;
  letter-spacing: 0.32px;
  color: #000000;
}

/*# sourceMappingURL=home.css.map */
