@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,400&display=swap");
html, body, divasfasf, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.soppa {
  max-width: 1100px;
  margin: 0 auto;
}

.buttons1 {
  border: none;
  background-color: #6E9C9F;
  padding: 22px 50px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 138.9%;
  text-align: center;
  letter-spacing: 0.32px;
  color: #FFFFFF;
  display: block;
  margin-bottom: 126px;
}
.buttons1:hover {
  background-color: #509498;
}

.buttons2 {
  background-color: #FFFFFF;
  padding: 22px 50px;
  flex-direction: row;
  align-items: center;
  border: 1px solid #6E9C9F;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 138.9%;
  text-align: center;
  letter-spacing: 0.32px;
  color: #6E9C9F;
  cursor: pointer;
  display: block;
  margin: auto;
}
.buttons2:hover {
  border: none;
  background-color: #6E9C9F;
  padding: 22px 50px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 138.9%;
  text-align: center;
  letter-spacing: 0.32px;
  color: #FFFFFF;
  display: block;
  margin-bottom: 126px;
}

.title-h1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 110%;
  letter-spacing: 0.32px;
  color: #000000;
  margin-top: 145px;
  margin-bottom: 45px;
  max-width: 585px;
}

.title-h2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 110%;
  letter-spacing: 0.32px;
  color: #000000;
  margin-bottom: 92px;
}

.name {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.32px;
  color: #000000;
  text-align: center;
  margin-bottom: 7px;
}

.sale {
  display: block;
  margin-left: 47px;
  position: relative;
}
.sale span {
  margin-right: 16px;
  text-decoration: line-through;
}

.price {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.32px;
  color: #998E78;
  text-align: center;
}

.footer-text1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 140%;
  letter-spacing: 0.32px;
  color: #000000;
  text-decoration: none;
}

.footer-text2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.32px;
  color: #000000;
}

.active-menu {
  color: #6E9C9F;
  font-weight: 700;
}

.text-menu {
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}

body {
  padding-top: 96px;
}
body header {
  width: 100%;
  min-height: 95px;
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  z-index: 2;
}
body header .content {
  display: flex;
  justify-content: space-between;
  margin-top: 39px;
}
body header .content .logo {
  display: flex;
}
body header .content .logo img {
  width: 18px;
  margin-right: 14.47px;
}
body header .content .logo h2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  color: #000000;
}
body header .content .menu ul {
  display: flex;
}
body header .content .menu ul li {
  align-items: center;
  margin-right: 24px;
}
body header .content .menu ul li a {
  font-family: "Raleway";
  font-style: normal;
  line-height: 140%;
  text-decoration: none;
}
body header .content .call {
  display: flex;
  align-items: center;
}
body header .content .call a {
  display: block;
  width: 14.45px;
  height: 17px;
  background-image: url("../../image/telephone 1.svg");
  background-repeat: no-repeat;
  margin-right: 15.55px;
  line-height: 140%;
}
body header .content .call p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.32px;
  color: #000000;
}
body header .content .buy {
  display: block;
  width: 24px;
  height: 23.54px;
  background-image: url("../../image/buy.svg");
  background-repeat: no-repeat;
}
body .banner {
  display: flex;
  margin-bottom: 130px;
}
body .banner .left {
  width: 50%;
}
body .banner .left .title-h1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 110%;
  letter-spacing: 0.32px;
  color: #000000;
  margin-top: 145px;
  margin-bottom: 45px;
  max-width: 585px;
}
body .banner .left .text-cont {
  max-width: 385px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
body .banner .left .text-cont p {
  max-width: 385px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  text-align: right;
  letter-spacing: 0.32px;
  color: #000000;
  margin-bottom: 54px;
}
body .banner .left .text-cont .buttons1 {
  border: none;
  background-color: #6E9C9F;
  padding: 22px 50px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 138.9%;
  text-align: center;
  letter-spacing: 0.32px;
  color: #FFFFFF;
  display: block;
  margin-bottom: 126px;
}
body .banner .left .text-cont .buttons1:hover {
  background-color: #509498;
}
body .banner .left .text-cont .pagination-controler .pag-item {
  width: 30px;
  height: 4px;
  background-color: #D1D1D1;
  border: none;
  margin-left: 12px;
}
body .banner .left .text-cont .pagination-controler .pag-item.active {
  background-color: #000000;
}
body .banner .right {
  width: 50%;
  min-height: 731px;
  position: relative;
}
body .banner .right::after {
  content: "";
  width: 197px;
  height: 197px;
  position: absolute;
  background-image: url("../image/ionut-comanici-RDcEWH5hSDE-unsplash 1.png");
  background-size: cover;
  background-repeat: no-repeat;
  top: 123px;
  left: 456px;
}
body .banner .right::before {
  content: "";
  width: 190px;
  height: 318px;
  position: absolute;
  background-image: url("../image/allef-vinicius-YG97wpX0OEg-unsplash 1.png");
  background-size: cover;
  background-repeat: no-repeat;
  top: 391px;
  left: -12px;
}
body .banner .right .banner-img {
  width: 434px;
  height: 652px;
  margin-left: 115px;
}
body .new-colection {
  margin-bottom: 120px;
}
body .new-colection .title-h2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 110%;
  letter-spacing: 0.32px;
  color: #000000;
  margin-bottom: 92px;
}
body .new-colection .scroll-3img {
  display: flex;
  justify-content: space-between;
}
body .new-colection .scroll-3img .card {
  margin-bottom: 65px;
}
body .new-colection .scroll-3img .card .parametr {
  width: 350px;
  height: 478px;
  background-size: 350px;
  background-repeat: no-repeat;
  margin-bottom: 24px;
  position: relative;
  cursor: pointer;
}
body .new-colection .scroll-3img .card .parametr:hover::after {
  content: "";
  background-image: url("../image/jjj.svg");
  width: 350px;
  height: 478px;
  position: absolute;
  background-color: #6E9C9FA3;
  background-repeat: no-repeat;
  background-position: center;
}
body .new-colection .scroll-3img .card .image-collection1 {
  background-image: url("../image/img1.png");
}
body .new-colection .scroll-3img .card .image-collection2 {
  background-image: url("../image/img2.png");
}
body .new-colection .scroll-3img .card .image-collection3 {
  background-image: url("../image/img3.png");
}
body .new-colection .scroll-3img .buttons2 {
  background-color: #FFFFFF;
  padding: 22px 50px;
  flex-direction: row;
  align-items: center;
  border: 1px solid #6E9C9F;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 138.9%;
  text-align: center;
  letter-spacing: 0.32px;
  color: #6E9C9F;
  cursor: pointer;
  display: block;
  margin: auto;
}
body .new-colection .scroll-3img .buttons2:hover {
  border: none;
  background-color: #6E9C9F;
  padding: 22px 50px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 138.9%;
  text-align: center;
  letter-spacing: 0.32px;
  color: #FFFFFF;
  display: block;
  margin-bottom: 126px;
}
body .our-tasks {
  margin-bottom: 130px;
}
body .our-tasks .task {
  display: flex;
  justify-content: space-between;
}
body .our-tasks .task .content {
  max-width: 305px;
}
body .our-tasks .task .content h3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 140%;
  letter-spacing: 0.32px;
  color: #000000;
  margin-bottom: 24px;
}
body .our-tasks .task .content .qual {
  margin-bottom: 37px;
}
body .our-tasks .task .content .speed {
  margin-bottom: 19.5px;
}
body .our-tasks .task .content .beli {
  margin-bottom: 40.53px;
}
body .our-tasks .task .content p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  letter-spacing: 0.32px;
  color: #000000;
}
body .comand {
  margin-bottom: 130px;
}
body .comand .content-comand {
  display: flex;
  align-items: center;
}
body .comand .content-comand .image-comand {
  width: 729px;
  min-height: 487px;
  background-image: url("../image/adam-winger-fI-TKWjKYls-unsplash 1.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 124px;
  position: relative;
}
body .comand .content-comand .image-comand .pagination-controler {
  position: absolute;
  top: 411px;
  left: 287px;
}
body .comand .content-comand .image-comand .pagination-controler .pag-item {
  width: 30px;
  height: 4px;
  background-color: #FFFFFF5C;
  border: none;
  margin-left: 12px;
}
body .comand .content-comand .image-comand .pagination-controler .pag-item.active {
  background-color: #FFFFFF;
}
body .comand .content-comand .image-comand .nav {
  width: 28px;
  height: 14px;
  border: none;
  cursor: pointer;
  position: absolute;
  background-color: white;
}
body .comand .content-comand .image-comand .nav.left-b {
  background-image: url("../image/onee.svg");
  background-size: cover;
  top: 215px;
  left: -61px;
}
body .comand .content-comand .image-comand .nav.right-b {
  background-image: url("../image/two.svg");
  background-size: cover;
  top: 215px;
  left: 754px;
}
body .comand .content-comand .text-comand {
  max-width: 30%;
}
body .comand .content-comand .text-comand h3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 140%;
  letter-spacing: 0.32px;
  color: #000000;
  margin-bottom: 28px;
}
body .comand .content-comand .text-comand p {
  max-width: 257px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  letter-spacing: 0.32px;
  color: #000000;
  margin-bottom: 28px;
}
body .comand .content-comand .text-comand .detal {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  letter-spacing: 0.32px;
  text-decoration: none;
  color: #6E9C9F;
  padding-bottom: 5px;
}
body .comand .content-comand .text-comand .detal:hover {
  border-bottom: 1px solid #CEDEDF;
}
body footer {
  width: 100%;
  min-height: 363px;
  background-color: #F1EADC;
}
body footer .content-footer {
  padding-top: 104px;
  display: flex;
  justify-content: space-between;
}
body footer .content-footer .one-footer .logo {
  display: flex;
  margin-bottom: 70px;
}
body footer .content-footer .one-footer .logo img {
  width: 18px;
  margin-right: 14.47px;
}
body footer .content-footer .one-footer .logo h2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  color: #000000;
}
body footer .content-footer .one-footer .confidense ul li {
  margin-bottom: 6px;
}
body footer .content-footer .two-footer .menu ul {
  display: flex;
}
body footer .content-footer .two-footer .menu li {
  align-items: center;
}
body footer .content-footer .two-footer .menu li a {
  font-family: "Raleway";
  font-style: normal;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.32px;
  text-decoration: none;
  margin-right: 45px;
}
body footer .content-footer .two-footer .clothes-item ul {
  margin-left: 107px;
  margin-top: 39px;
}
body footer .content-footer .two-footer .clothes-item ul li {
  margin-bottom: 10px;
}
body footer .content-footer .three-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
body footer .content-footer .three-footer p {
  margin-bottom: 9px;
}
body footer .content-footer .three-footer .social-logo {
  display: flex;
  justify-content: flex-end;
  margin-top: 31px;
  margin-bottom: 31px;
}
body footer .content-footer .three-footer .social-logo a {
  width: 22px;
  height: 22px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 12px;
}
body footer .content-footer .three-footer .social-logo a.insta {
  background-image: url("../image/instagram (1) 1.svg");
}
body footer .content-footer .three-footer .social-logo a.face {
  background-image: url("../image/facebook (1) 1.svg");
}
body footer .content-footer .three-footer .social-logo a.twit {
  background-image: url("../image/twitter (1) 1.svg");
}
body footer .content-footer .three-footer img {
  width: 68px;
  height: 22px;
}

/*# sourceMappingURL=home.css.map */
