$gothic: #6E9C9F;
$black: #000000;
$white: #FFFFFF;
$smalt_blue: #509498;
$alto: #D1D1D1;
$pale_oyster: #998E78;
$geyser: #CEDEDF;
$ecru_white:#F1EADC;
$gray:#909090;
$dusty_gray:#9C9C9C;


/* other color*/
$hemp:#927876;
$alto_light:#D4D4D4;
$sweet_pink:#FD9696;
$peach_orange:#FDC796;


