@import "color";
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap');
@import "reset";
@import "general";
@import "mixins/header";
@import "mixins/footer";

body{

  @include header;

  .all-content {

    .map-contact {
      min-height: 476px;
      background-color: $gray;
      margin-bottom: 130px;
    }

    .adress {
      display: flex;
      margin-bottom: 130px;
      ul{
        margin-right: 111px;

      }
    }

    .form-box {
      input {
        min-height: 35px;
        min-width: 350px;
        display: block;
        border: none;
        border-bottom: 1px solid $black;
        padding: 0px 16px;
        margin-bottom: 35px;
      }
    }
    .mail-send-secsess {
      max-width: 285px;
      min-height: 84px;
      background-color: $ecru_white;
      padding: 30px 0;

      p {
      }
    }

  }
}