@import "color";
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap');
@import "reset";
@import "general";
@import "mixins/header";




 body {
   padding-top: 96px;
   @include header;
   .banner {
     display: flex;
     margin-bottom: 130px;

     .left {
       width: 50%;
       .title-h1 {
         font-family: 'Raleway';
         font-style: normal;
         font-weight: 500;
         font-size: 55px;
         line-height: 110%;
         letter-spacing: 0.32px;
         color: $black;
         margin-top: 145px;
         margin-bottom: 45px;
         max-width: 585px;
       }

       .text-cont {
         max-width: 385px;
         display: flex;
         flex-direction: column;
         align-items: flex-end;
         p{
           max-width: 385px;
           font-family: 'Raleway';
           font-style: normal;
           font-weight: 400;
           font-size: 20px;
           line-height: 140%;
           text-align: right;
           letter-spacing: 0.32px;
           color: $black;
           margin-bottom: 54px;
         }
         .buttons1 {
           border: none;
           background-color: $gothic;
           padding: 22px 50px;
           font-family: 'Raleway';
           font-style: normal;
           font-weight: 400;
           font-size: 17px;
           line-height: 138.9%;
           text-align: center;
           letter-spacing: 0.32px;
           color: $white;
           display: block;
           margin-bottom: 126px;

           &:hover {
             background-color: $smalt_blue;
           }
         }

         .pagination-controler {
           .pag-item {
             width: 30px;
             height: 4px;
             background-color: $alto;
             border: none;
             margin-left: 12px;
             &.active {
               background-color: $black;
             }
           }
         }
       }
     }
     .right {
       width: 50%;
       min-height: 731px;
       position: relative;

       &::after {
         content: '';
         width: 197px;
         height: 197px;
         position: absolute;
         background-image: url("../image/ionut-comanici-RDcEWH5hSDE-unsplash 1.png");
         background-size: cover;
         background-repeat: no-repeat;
         top: 123px;
         left: 456px;
       }
       &::before {
         content: '';
         width: 190px;
         height: 318px;
         position: absolute;
         background-image: url("../image/allef-vinicius-YG97wpX0OEg-unsplash 1.png");
         background-size: cover;
         background-repeat: no-repeat;
         top: 391px;
         left: -12px;
       }

       .banner-img {
         width: 434px;
         height: 652px;
         margin-left: 115px;

       }
     }
   }
   .new-colection {
     .title-h2 {
       font-family: 'Raleway';
       font-style: normal;
       font-weight: 500;
       font-size: 40px;
       line-height: 110%;
       letter-spacing: 0.32px;
       color: $black;
       margin-bottom: 92px;
     }
     .scroll-3img {
       display: flex;
       justify-content: space-between;
       .card {
         margin-bottom: 65px;
         .parametr {
           width: 350px;
           height: 478px;
           background-size: 350px;
           background-repeat: no-repeat;
         }
         .image-collection1 {
           background-image: url("../image/img1.png");
         }
         .image-collection2 {
           background-image: url("../image/img2.png");
         }
         .image-collection3 {
           background-image: url("../image/img3.png");
         .name {
           font-family: 'Raleway';
           font-style: normal;
           font-weight: 500;
           font-size: 20px;
           line-height: 140%;
           letter-spacing: 0.32px;
           color: $black;
           text-align: center;
           margin-bottom: 7px;
         }
         .sale {
           display: block;
           margin-left: 47px;
           position: relative;

           span {
             margin-right: 16px;
             text-decoration: line-through;
           }
         }
         .price {
           font-family: 'Raleway';
           font-style: normal;
           font-weight: 500;
           font-size: 15px;
           line-height: 140%;
           letter-spacing: 0.32px;
           color: $pale_oyster;
           text-align: center;
         }
       }
     }
     .buttons2 {
       background-color: $white;
       padding: 22px 50px;
       flex-direction: row;
       align-items: center;
       border: 1px solid $gothic;
       font-family: 'Raleway';
       font-style: normal;
       font-weight: 400;
       font-size: 17px;
       line-height: 138.9%;
       text-align: center;
       letter-spacing: 0.32px;
       color: $gothic;
       cursor: pointer;
       display: block;
       margin: auto;
       &:hover {
         border: none;
         background-color: $gothic;
         padding: 22px 50px;
         font-family: 'Raleway';
         font-style: normal;
         font-weight: 400;
         font-size: 17px;
         line-height: 138.9%;
         text-align: center;
         letter-spacing: 0.32px;
         color: $white;
         display: block;
         margin-bottom: 126px;
       }
     }
   }

 }
 }